body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
}

.name-color {
  color: orange;
}

section {
  display: flex;
}

.name-text {
  width: 50%;
  padding-left: 10%;
  margin-right: 15px;
}

.profile-image {
  width: 50%;
}

.profile-image img {
  width: 80%;
}

.hire-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}

.top-section {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}

.dream-section {
  margin-top: 10%;
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.dream-image {
  width: 50%;
}

.dream-image img {
  width: 80%;
  margin-left: 10%;
}

.dream-text {
  width: 50%;
  margin-right: 20px;
  margin-left: 45px;
}

.download-button {
  text-decoration: none;
  background-image: linear-gradient(yellow, orange);
  padding: 10px 20px;
  border-radius: 6px;
  color: black;
  font-weight: 700;
  margin-top: 10px;
}
